<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{'DASHBOARD_TITLE'|translate}} - {{'DASHBOARD_SA'|translate}}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">Home</a>
            </li>
            <li></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">SERVICE</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">AIR-COND</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">WAB</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">WASH</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">INVOICE</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">PROMISED TIME</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">REVISED PROMISED TIME</div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2">ABC 123</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">DONE</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2">DEF 123</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">IN PROGRESS</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
    </div>
</div>