<div id="jobLaBour-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add New Job Labour</h4>
            </div>
            <form class="form-horizontal" role="form" action="#">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="datatable">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                                <div class="datatable-header">
                                    <div class="dataTables_length" id="DataTables_Table_1_length">
                                        <label>
                        <button type="button" class="btn btn-sm btn-default pull-right mg-button pull-left"><span data-icon="&#xe158;"></span> Cancel</button>
                        <button type="button" class="btn btn-sm btn-success pull-right mg-button pull-left"><span data-icon="&#xe2aa;"></span> Select</button>
                        <span>Show:</span> 
                        <div class="select2-container" id="s2id_autogen3">
                            <a href="javascript:void(0)" class="select2-choice" tabindex="-1">  
                                 <span class="select2-chosen" id="select2-chosen-4">10</span>
                                 <abbr class="select2-search-choice-close"></abbr>  
                                  <span class="select2-arrow" role="presentation">
                                      <b role="presentation"></b>
                                      </span>
                                      </a>
                                      <label for="s2id_autogen4" class="select2-offscreen"></label>
                                        <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-4"
                                            id="s2id_autogen4">
                                        <div class="select2-drop select2-display-none">
                                            <div class="select2-search select2-search-hidden select2-offscreen">
                                                <label for="s2id_autogen4_search" class="select2-offscreen"></label>
                                                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox"
                                                    aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-4"
                                                    id="s2id_autogen4_search" placeholder="">
                                            </div>
                                            <ul class="select2-results" role="listbox" id="select2-results-4">
                                            </ul>
                                        </div>
                                    </div><select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="select2-offscreen"
                                        tabindex="-1" title=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label>
                                </div>
                            </div>
                            <div class="datatable-scroll overflow">
                                <table class="table table-bordered dataTable no-footer table-custom" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                                    <thead>
                                        <tr>
                                            <th class="collumn-checkbox">
                                                <div class=""><span class="checked"><input type="checkbox" class="styled"></span></div>
                                            </th>
                                            <th>Job Code</th>
                                            <th>Description</th>
                                            <th>Job Group</th>
                                            <th>Job Group Description</th>
                                            <th>Active</th>
                                            <th>Revision</th>
                                            <th>Effective from</th>
                                            <th>Effective to</th>
                                            <th>Created by</th>
                                            <th>Modified by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!--<div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>-->
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Filter">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                                            </td>
                                            <td>J001</td>
                                            <td>Job code 1</td>
                                            <td>JG001</td>
                                            <td>Job Group 1</td>
                                            <td>Yes</td>
                                            <td>1</td>
                                            <td>1/1/2015</td>
                                            <td>1/1/2017</td>
                                            <td>Admin</td>
                                            <td>Admin</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                                            </td>
                                            <td>J001</td>
                                            <td>Job code 1</td>
                                            <td>JG001</td>
                                            <td>Job Group 1</td>
                                            <td>Yes</td>
                                            <td>1</td>
                                            <td>1/1/2015</td>
                                            <td>1/1/2017</td>
                                            <td>Admin</td>
                                            <td>Admin</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                                            </td>
                                            <td>J001</td>
                                            <td>Job code 1</td>
                                            <td>JG001</td>
                                            <td>Job Group 1</td>
                                            <td>Yes</td>
                                            <td>1</td>
                                            <td>1/1/2015</td>
                                            <td>1/1/2017</td>
                                            <td>Admin</td>
                                            <td>Admin</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="datatable-footer">
                                <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 10 of 12 entries</div>
                                <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_1_paginate"><a class="paginate_button first disabled" aria-controls="DataTables_Table_1" data-dt-idx="0"
                                        tabindex="0" id="DataTables_Table_1_first">First</a>
                                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0" id="DataTables_Table_1_previous">&lt;</a><span><a class="paginate_button current" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0">1</a><a class="paginate_button " aria-controls="DataTables_Table_1" data-dt-idx="3" tabindex="0">2</a></span>
                                    <a class="paginate_button next" aria-controls="DataTables_Table_1" data-dt-idx="4" tabindex="0" id="DataTables_Table_1_next">&gt;</a>
                                    <a class="paginate_button last" aria-controls="DataTables_Table_1" data-dt-idx="5" tabindex="0" id="DataTables_Table_1_last">Last</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
</div>