<p-growl [(value)]="msgs"></p-growl>
<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>Make / Model / Variant - Search</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a routerLink="/dashboard/main" routerLinkActive="active">Home</a></li>
            <li class="active">Vehicle Make</li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
        </div>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button"><span data-icon="&#xe24c;"></span> Export</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button"><span data-icon="&#xe259;"></span> Import</button>
        <button type="button" class="btn btn-sm btn-info pull-right mg-button" (click)="onClickAddUpdate(null)">Add Make</button>
        <button type="button" class="btn btn-sm btn-info pull-right mg-button" (click)="onClickAddUpdateModel(null)">Add Model</button>
        <button type="button" class="btn btn-sm btn-info pull-right mg-button" (click)="onClickAddUpdateVariant(null)">Add Variant</button>
    </div>
    <!-- /breadcrumbs line -->
    <vehicleMake-addUpdate [vehicleMake]="vehicleMake"></vehicleMake-addUpdate>
   <!--  <vehicleModel-addUpdate [vehicleModel]="vehicleModel"></vehicleModel-addUpdate>
    <modelVariant-addUpdate [modelVariant]="vehicleVariant"></modelVariant-addUpdate> -->

    <div class="datatable scroll-data">
        <div class="dataTables_wrapper no-footer">
            <div class="datatable-header">
                <div class="dataTables_length">
                    <label>
                        <span>Show:</span>
                        <select2 [data]="pageSizeObjects" (valueChanged)="onChangePageSize($event)" [width]="100"></select2>
                    </label>
                </div>
            </div>
            <div class="datatable-scroll">
                <form class="form-horizontal" role="form" action="#" (keydown)="onkeydownSearch($event)">
                    <table class="table table-bordered dataTable no-footer">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="{{ sortedColumn.columnName == 'code' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('code', sortedColumn.isAsc)">Make Code</th>
                                <th class="{{ sortedColumn.columnName == 'description' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('description', sortedColumn.isAsc)">Make Description</th>
                                <th class="{{ sortedColumn.columnName == 'code' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('code', sortedColumn.isAsc)">Model Code</th>
                                <th class="{{ sortedColumn.columnName == 'description' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('description', sortedColumn.isAsc)">Model Description</th>
                                <th class="{{ sortedColumn.columnName == 'code' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('code', sortedColumn.isAsc)">Variant Code</th>
                                <th class="{{ sortedColumn.columnName == 'description' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('description', sortedColumn.isAsc)">Variant Description</th>
                                <th class="{{ sortedColumn.columnName == 'status' ? sortedColumn.classActive: 'sorting' }}" (click)="onSortColumn('status', sortedColumn.isAsc)">Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Filter" name="code" [(ngModel)]="vehicleMakeSearch.code" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Filter" name="description" [(ngModel)]="vehicleMakeSearch.description"
                                    />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Filter" name="code" [(ngModel)]="vehicleMakeSearch.code" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Filter" name="description" [(ngModel)]="vehicleMakeSearch.description"
                                    />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Filter" name="code" [(ngModel)]="vehicleMakeSearch.code" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Filter" name="description" [(ngModel)]="vehicleMakeSearch.description"
                                    />
                                </td>
                                <td>
                                    <select2 [data]="statusObjects" (valueChanged)="onChangeStatus($event)" [width]="100"></select2>
                                </td>
                            </tr>
                            <tr *ngFor="let item of vehicleMakeList">
                                <td></td>
                                <td><a (click)="onClickAddUpdate(item.id)">  {{ item.code }}</a></td>
                                <td> {{ item.description }}</td>
                                <td><a (click)="onClickAddUpdateModel(item.id)">  {{ item.code }}</a></td>
                                <td> {{ item.description }}</td>
                                <td><a (click)="onClickAddUpdateVariant(item.id)">  {{ item.code }}</a></td>
                                <td> {{ item.description }}</td>
                                <td>
                                    <span class="label label-success" *ngIf="item.status">Yes</span>
                                    <span class="label label-danger" *ngIf="!item.status">No</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info" role="status" aria-live="polite">Showing {{ pager.currentPage }} to {{ pager.pageSize }} of {{ pager.totalPages }} entries</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">
                                < </a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">></a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>