<div id="task-details-ra-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Task details</h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                   <div class="panel-body">
                        <div class="datatable-task-details-ra">
                            <table class="table table-bordered table-custom">
                                <thead>
                                    <tr>
                                        <th class="text-center">Repair Order No.</th>
                                        <th class="text-center">Estimated Delivery Time</th>
                                        <th class="text-center">Job Code</th>
                                        <th class="text-center">Job Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       <td>
                                            RO0001
                                        </td>
                                        <td>
                                            06-30-2017
                                        </td>
                                        <td>
                                            JOOO1
                                        </td>
                                         <td>
                                            JOOO1
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>
                                            RO0002
                                        </td>
                                        <td>
                                            06-30-2017
                                        </td>
                                        <td>
                                            JOOO2
                                        </td>
                                         <td>
                                            JOOO2
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">BACK</button>
            </div>
        </div>
    </div>
</div>