<p-growl [(value)]="msgs"></p-growl>

<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{ 'VEHICLE_MAKE_TITLE' | translate }} - {{ 'LBL_SEARCH' | translate }}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">{{'LBL_HOME' | translate}}</a>
            </li>
            <li class="active">{{'VEHICLE_MAKE_TITLE' | translate}}</li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
        <button id="btnExport" type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe24c;"></span> {{ 'BUTTON_EXPORT' | translate }}</button>
        <button id="btnImport" type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe259;"></span> {{ 'BUTTON_IMPORT' | translate }}</button>
        <button id="btnAdd" type="button" class="btn btn-sm btn-info pull-right mg-button" (click)="onClickAddUpdate(null)">
            <span data-icon="&#xe104;"></span> {{ 'BUTTON_ADD' | translate }}</button>
    </div>
    <!-- /breadcrumbs line -->

    <vehicleMake-addUpdate [vehicleMake]="vehicleMake"></vehicleMake-addUpdate>
    <p-dataTable [value]="vehicleMakeList" scrollHeight="420px" [lazy]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,50]"
        [paginator]="true" [responsive]="true" [stacked]="stacked" resizableColumns="true" columnResizeMode="expand" [totalRecords]="pager.totalRecords"
        (onLazyLoad)="loadVehicleMakeLazy($event)" scrollable="true" #dt>
        <p-column header="{{ 'TBL_HEADER_NO' | translate }}" [style]="{'width': '40px'}">
            <ng-template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </ng-template>
        </p-column>
        <p-column field="code" header="{{ 'LBL_CODE' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true">
            <ng-template let-row="rowData" pTemplate type="body">
                <a (click)="onClickAddUpdate(row.id)">{{row.code}}</a>
            </ng-template>
        </p-column>
        <p-column field="description" header="{{ 'LBL_DESCRIPTION' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
        <p-column field="status" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col pTemplate="header">
                {{ 'LBL_ACTIVE' | translate }}
                <p-dropdown [options]="statusObjects" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                    styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
            <ng-template let-vehicleMake="rowData" pTemplate="body">
                <span>{{ vehicleMake.status ? 'YES': 'NO' }}</span>
            </ng-template>
        </p-column>
        <p-column field="createdBy" header="{{ 'LBL_CREATED_BY' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
        <p-column field="updatedBy" header="{{ 'LBL_UPDATED_BY' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    </p-dataTable>
    <div style="position: relative;">
        <span class="paging-entries">
            {{ 'PAGING_SHOWING' | translate }} {{ 1 + (pager.pageSize * (pager.currentPage - 1)) }} {{ 'PAGING_TO' | translate }} {{
            pager.pageSize * pager.currentPage }} {{ 'PAGING_OF' | translate }} {{ pager.totalRecords }} {{ 'PAGING_ENTRIES'
            | translate }}
        </span>
    </div>
</div>