<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{ 'QC_TITLE' | translate }} - {{ 'LBL_SEARCH' | translate }}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">Home</a>
            </li>
            <li>{{ 'QC_TITLE' | translate }}</li>
        </ul>
    </div>
    <!-- /breadcrumbs line -->
    <p-dataTable [value]="quantityList" [lazy]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,50]" [paginator]="true" [responsive]="true"
        [stacked]="stacked" resizableColumns="true" columnResizeMode="expand" [totalRecords]="pager.totalRecords" (onLazyLoad)="loadQCLazy($event)"
        scrollable="true" #dt>
        <p-column header="{{ 'TBL_HEADER_NO' | translate }}" [style]="{'width': '40px'}">
            <ng-template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </ng-template>
        </p-column>
        <p-column field="RONo" header="{{ 'LBL_RO_NO' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true">
            <ng-template let-row="rowData" pTemplate type="body">
                <a (click)="onClickAddUpdate(row.id)">{{row.RONo}}</a>
            </ng-template>
        </p-column>
        <p-column field="RODate" header="RO Date" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
        <p-column field="status" header="Status" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
        <p-column field="registrationNo" header="Registration No." [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
        <p-column field="customerName" header="Customer" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    </p-dataTable>
    <div style="position: relative;">
        <span class="paging-per-page">
            Item per page
        </span>
        <span class="paging-entries">
            {{ 'PAGING_SHOWING' | translate }} {{ 1 + (pager.pageSize * (pager.currentPage - 1)) }} {{ 'PAGING_TO' | translate }} {{
            pager.pageSize * pager.currentPage }} {{ 'PAGING_OF' | translate }} {{ pager.totalRecords }} {{ 'PAGING_ENTRIES'
            | translate }}
        </span>
    </div>
</div>