<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{'DASHBOARD_TITLE'|translate}} - {{'DASHBOARD_CUSTOMER'|translate}}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">Home</a>
            </li>
            <li></li>
        </ul>

    </div>
    <!-- /breadcrumbs line -->
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">SERVICE</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">WASH</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">READY FOR DELIVERY</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">PROMISED TIME</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">REVISED PROMISED TIME</div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2">ABC 123</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">DONE</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2">DEF 123</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2">IN PROGRESS</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
    </div>
</div>