.overflow{
    overflow-x:auto;
}

.table-custom{
    table-layout: fixed;
    width: 2000px;
}

.collumn-checkbox {
    width: 10px;
}

.header-margin{
    margin:5px 5px 5px 5px;
}

.footer-margin{
    margin:15px 5px 5px 5px;
}