.overflow{
    overflow-x:auto;
}
.timeline {
    position: absolute;
    top: 0px;
    height: 0px;
    left: 0px;
    border: 1px dotted red;
    z-index: 100000
}
.timeline-col {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
}
.jpcb-block {
    position: absolute; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    border-style: solid; 
    border-width:thin; 
}