<div id="assign-mechanic-ra-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Assign Mechanics</h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                   <div class="panel-body">
                        <div class="datatable-assign-mechanic-ra">
                            <table class="table table-bordered table-custom">
                                <thead>
                                    <tr>
                                        <th class="text-center">Select</th>
                                        <th class="text-center">Mechanic name</th>
                                        <th class="text-center">Existing task</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="collumn-checkbox">
                                            <input type="checkbox">
                                        </td>
                                        <td>
                                            Mechanic A
                                        </td>
                                        <td>
                                            <a (click)="showTaskDetails()">ROOO1</a>,
                                            <a (click)="showTaskDetails()">ROOO2</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collumn-checkbox">
                                            <input type="checkbox">
                                        </td>
                                        <td>
                                            Mechanic B
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="collumn-checkbox">
                                            <input type="checkbox">
                                        </td>
                                        <td>
                                            Mechanic C
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>
            </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-info" data-dismiss="modal">APPLY</button>
                 <button type="button" class="btn btn-info" data-dismiss="modal">APPLY ALL</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">BACK</button>
            </div>
        </div>
    </div>
</div>