<div id="dialogCofirmVehicleProfileAdd-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <h6 class="title-1">Registration No. dose not exist in the system.</h6>
            <h6 class="title-2">Would you like to add?</h6>
            <div class="form-actions text-center panel-heading">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick()">YES</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>