<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{'TR_TITLE_SUB'|translate}} - {{'LBL_SEARCH'|translate}}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">{{'LBL_HOME'|translate}}</a>
            </li>
            <li class="active">{{'TR_TITLE_SUB'|translate}}</li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe158;"></span> Delete</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe27f;"></span> Copy</button>
        <button data-toggle="modal" type="button" class="btn btn-sm btn-info pull-right mg-button" href="#default-modal" routerLink="/trSubmission/Add">
            <span data-icon="&#xe104;"></span> Add</button>
    </div>
    <!-- /breadcrumbs line -->
    <div class="datatable-searchSubmission">
        <table class="table table-bordered table-custom table-top">
            <thead>
                <tr>
                    <th class="collumn-checkbox">
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" class="styled">
                            </span>
                        </div>
                    </th>
                    <th>Technical Report No.</th>
                    <th>Technical Report Date</th>
                    <th>Status</th>
                    <th>Purpose</th>
                    <th>Warranty Claim</th>
                    <th>Customer Name</th>
                    <th>Vehicle Registration No</th>
                    <th>Repair Order No.</th>
                    <th>Created by</th>
                    <th>Modified By</th>
                    <th>Modified Date time</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>
                        <!--<div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>-->
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter" />
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">DOC99999</a>
                    </td>
                    <td>12/06/2017</td>
                    <td>Yes</td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>ĐẶNG THẾ CƯỜNG</td>
                    <td>RN3BABN17DDV00157</td>
                    <td>NHDROW17060019</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060033</a>
                    </td>
                    <td>29/06/2017</td>
                    <td>Yes</td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>ĐỖ VĂN HIỆU</td>
                    <td>30A14544</td>
                    <td>NHDROW17060060</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060028</a>
                    </td>
                    <td>21/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>NGUYỄN ANH TUẤN</td>
                    <td>RN3BABN17EDV02100</td>
                    <td>NHDROW17060057</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060026</a>
                    </td>
                    <td>21/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>LÊ NGỌC THẮNG</td>
                    <td>30A14544</td>
                    <td>NHDROW17060054</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060025</a>
                    </td>
                    <td>21/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>NGUYỄN VĂN CẢNH</td>
                    <td>30A19000</td>
                    <td>NHDROW17060041</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060011</a>
                    </td>
                    <td>16/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>ĐÀO HẢI NAM</td>
                    <td>MNTCC2D23Z0016574</td>
                    <td>NHDROW17060034</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060007</a>
                    </td>
                    <td>13/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>NGUYỄN MẠNH NAM</td>
                    <td>RN3BABN17GDV04783</td>
                    <td>NHDROW17060029</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060034</a>
                    </td>
                    <td>29/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>ĐỖ VĂN HIỆU</td>
                    <td>30A14641</td>
                    <td>NHDROW17060063</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060023</a>
                    </td>
                    <td>21/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>ĐỖ VĂN HIỆU</td>
                    <td>30A14641</td>
                    <td>NHDROW17060051</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">NHDTR17060009</a>
                    </td>
                    <td>14/06/2017</td>
                    <td>
                        Yes
                    </td>
                    <td>Repair</td>
                    <td>WARRANTY CLAIM</td>
                    <td>NISSAN HA DONG</td>
                    <td>30E94089</td>
                    <td>NHDROW17060035</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/trSubmission/Update/1">Row 1</a>
                    </td>
                    <td>Row</td>
                    <td>
                        Yes
                    </td>
                    <td>Row</td>
                    <td>Row</td>
                    <td>Row</td>
                    <td>Row</td>
                    <td>Row</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>5/5/2017</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>