<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{'WC_TITLE_SUB'|translate}}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a routerLink="/dashboard/main" routerLinkActive="active">{{'LBL_HOME'|translate}}</a></li>
            <li class="active">{{'WC_TITLE_SUB'|translate}}</li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
        </div>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button"><span data-icon="&#xe0f8;;"></span> Print</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button"><span data-icon="&#xe27f;"></span> Resubmit</button>
    </div>
    <!-- /breadcrumbs line -->

    <div class="datatable-searchwcSubmission scroll-data">
        <table class="table table-bordered table-top">
            <thead>
                <tr>
                    <th>
                        <div class=""><span class="checked"><input type="checkbox" class="styled"></span></div>
                    </th>
                    <th>Warranty Claim No.</th>
                    <th>Warranty Claim Date</th>
                    <th>Status</th>
                    <th>Customer Name</th>
                    <th>Vehicle Registration No.</th>
                    <th>Repair Order No.</th>
                    <th>Supplier</th>
                    <th>Total Amount</th>
                    <th>Created by</th>
                    <th>Modified By</th>
                    <th>Modified Date time</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>
                        <!--<div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>-->
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060001</a></td>
                    <td>16/06/2017</td>
                    <td>APPROVED</td>
                    <td>NGUYỄN MẠNH NAM</td>
                    <td>RN3BABN17KHT6784</td>
                    <td>NHDROW17060029</td>
                    <td>Admin</td>
                    <td>10000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>16/06/2017 16:58:43 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060002</a></td>
                    <td>19/06/2017</td>
                    <td>APPROVED</td>
                    <td>ĐÀO HẢI NAM</td>
                    <td>RN3BABN17DDV033565</td>
                    <td>NHDROW17060034</td>
                    <td>Admin</td>
                    <td>10600</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>20/06/2017 11:11:51 AM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060003</a></td>
                    <td>20/06/2017</td>
                    <td>APPROVED</td>
                    <td>NGUYỄN VĂN CẢNH</td>
                    <td>RN3BABN17DDV01284</td>
                    <td>NHDROW17060035</td>
                    <td>Admin</td>
                    <td>14000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>19/06/2017 14:37:38 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060004</a></td>
                    <td>20/06/2017</td>
                    <td>APPROVED</td>
                    <td>TRẦN CÔNG HIỆU</td>
                    <td>MNTCC2D23Z0018894</td>
                    <td>NHDROW17060041</td>
                    <td>Admin</td>
                    <td>19000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>20/06/2017 17:40:06 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060005</a></td>
                    <td>21/06/2017</td>
                    <td>REJECTED</td>
                    <td>ĐỖ VĂN HIỆU</td>
                    <td>30A14544</td>
                    <td>NHDROW17060011</td>
                    <td>Admin</td>
                    <td>24000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>30/06/2017 17:20:50 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060006</a></td>
                    <td>21/06/2017</td>
                    <td>RETURNED</td>
                    <td>LÊ NGỌC THẮNG</td>
                    <td>30A14641</td>
                    <td>NHDROW17060044</td>
                    <td>Admin</td>
                    <td>9000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>20/06/2017 18:01:40 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060007</a></td>
                    <td>22/06/2017</td>
                    <td>NEW</td>
                    <td>TRỊNH VĂN PHƯƠNG</td>
                    <td>30A19000</td>
                    <td>NHDROW17060066</td>
                    <td>Admin</td>
                    <td>12000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>21/06/2017 10:04:07 AM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060008</a></td>
                    <td>6/6/2017</td>
                    <td>APPROVED</td>
                    <td>LÊ VĂN CÔNG</td>
                    <td>88C10588</td>
                    <td>NHDROW17060045</td>
                    <td>Admin</td>
                    <td>10000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>21/06/2017 13:26:04 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060009</a></td>
                    <td>29/06/2017</td>
                    <td>APPROVED</td>
                    <td>NGUYỄN HỮU VINH</td>
                    <td>MNTCC2D23Z0016574</td>
                    <td>NHDROW17060046</td>
                    <td>Admin</td>
                    <td>6000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>21/06/2017 15:13:52 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>
                    </td>
                    <td><a routerLink="/wcSubmission/Update/1">NHDWC17060010</a></td>
                    <td>30/06/2017</td>
                    <td>APPROVED</td>
                    <td>TRẦN VĂN CẢNH</td>
                    <td>RN3BABN17GDV04783</td>
                    <td>NHDROW17060047</td>
                    <td>Admin</td>
                    <td>2000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>22/06/2017 14:28:08 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>