<div id="serviceHistory-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Service History Summary</h4>
            </div>

            <form class="form-horizontal" role="form" action="#">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="datatable-service">
                            <table class="table table-bordered table-custom table-top">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>RO No</th>
                                        <th>RO date</th>
                                        <th>Invoice No</th>
                                        <th>Invoice date</th>
                                        <th>Workshop</th>
                                        <th>Current Milleage*(km):</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>RO00001</td>
                                        <td>1/1/2017</td>
                                        <td>INV00001</td>
                                        <td>1/1/2017</td>
                                        <td>WS00001</td>
                                        <td>10000</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>RO00001</td>
                                        <td>1/1/2017</td>
                                        <td>INV00001</td>
                                        <td>1/1/2017</td>
                                        <td>WS00001</td>
                                        <td>10000</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>RO00001</td>
                                        <td>1/1/2017</td>
                                        <td>INV00001</td>
                                        <td>1/1/2017</td>
                                        <td>WS00001</td>
                                        <td>10000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-actions text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>