<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{'DASHBOARD_TITLE'|translate}} - {{'DASHBOARD_SPECIALIST'|translate}}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">Home</a>
            </li>
            <li></li>
        </ul>
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
    </div>
    <!-- /breadcrumbs line -->
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">BAY</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">TECH TIME</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">PROMISE TIME</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">STATUS</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">CLOCK IN</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">CLOCK OUT</div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-6 ui-lg-2">ABC 123</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">3</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">8:30 - 9:30</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">11:00</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1">IN PROGRESS</div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1"></div>
        <div class="ui-g-12 ui-sm-6 ui-lg-1"></div>
    </div>
    
</div>