<!-- /breadcrumbs line -->
<div class="page-content-inner">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>Appointment Search</h3>
        </div>
    </div>
    <!-- /page header -->

    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a routerLink="/dashboard/main" routerLinkActive="active">Home</a></li>
            <li>Appointment</li>
        </ul>

        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
        </div>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button"><span data-icon="&#xe0f8;"></span> Print</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button"><span data-icon="&#xe27f;"></span> Copy</button>
        <button type="button" class="btn btn-sm btn-info pull-right mg-button" routerLink="/appointment/Add"><span data-icon="&#xe104;"></span> Add</button>
    </div>
    <!-- /breadcrumbs line -->

    <import-common [import]="import"></import-common>
    <p-dataTable [value]="appointmentList" scrollHeight="420px" [lazy]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,50]"
    [paginator]="true" [responsive]="true" [stacked]="stacked" resizableColumns="true" columnResizeMode="expand" [totalRecords]="pager.totalRecords"
    (onLazyLoad)="loadAppointmentLazy($event)" scrollable="true" #dt>
    <p-column header="{{ 'TBL_HEADER_NO' | translate }}" [style]="{'width': '40px'}">
        <ng-template let-rowIndex="rowIndex" pTemplate="rowexpansion">
            {{rowIndex + 1}}
        </ng-template>
    </p-column>
    <p-column field="code" header="{{ 'LBL_APPOINTMENTNO' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true">
        <ng-template let-row="rowData" pTemplate type="body">
            <a (click)="onClickAddUpdate(row.id)">{{row.code}}</a>
        </ng-template>
    </p-column>
    <p-column field="appointmentDate" header="{{ 'LBL_APPOINTMENTDATE' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="appointmentTime" header="{{ 'LBL_APPOINTMENTTIME' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="customer" header="{{ 'LBL_CUSTOMER' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="registrationNo" header="{{ 'LBL_REG_NO' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="vehicle" header="{{ 'LBL_VEHICLE' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="workshop" header="{{ 'WORKSHOP_TITLE' | translate }}" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
</p-dataTable>
<div style="position: relative;">
    <span class="paging-entries">
        {{ 'PAGING_SHOWING' | translate }} {{ 1 + (pager.pageSize * (pager.currentPage - 1)) }} {{ 'PAGING_TO' | translate }} {{
        pager.pageSize * pager.currentPage }} {{ 'PAGING_OF' | translate }} {{ pager.totalRecords }} {{ 'PAGING_ENTRIES'
        | translate }}
    </span>
</div>
</div>