<!-- /breadcrumbs line -->
<div class="page-content-inner">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>{{'WC_TITLE_APP' | translate}}</h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a routerLink="/dashboard/main" routerLinkActive="active">{{'LBL_HOME' | translate}}</a>
            </li>
            <li>{{'WC_TITLE_APP' | translate}}</li>
        </ul>

        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons">
                <i class="icon-menu2"></i>
            </a>
        </div>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe24c;"></span> Export</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe158;"></span> Print</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe0d3;"></span> Reject</button>
        <button type="button" class="btn btn-sm btn-default pull-right mg-button">
            <span data-icon="&#xe0cd;"></span> Return</button>
        <button type="button" class="btn btn-sm btn-info pull-right mg-button">
            <span data-icon="&#xe2aa;"></span> Approve</button>
    </div>
    <!-- /breadcrumbs line -->

    <div class="datatable-searchWCProcessing">
        <table class="table table-bordered table-custom table-top">
            <thead>
                <tr>
                    <th class="collumn-checkbox">
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" class="styled">
                            </span>
                        </div>
                    </th>
                    <th class="collumn-checkbox">No.</th>
                    <th>Warranty Claim No.</th>
                    <th>Warranty Claim Date</th>
                    <th>Status</th>
                    <th>Branch</th>
                    <th>Customer Name</th>
                    <th>Vehicle Registration No.</th>
                    <th>Repair Order No.</th>
                    <th>Supplier</th>
                    <th>Total Amount</th>
                    <th>Person In Charge</th>
                    <th>Modified By</th>
                    <th>Modified Date time</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>
                        <!--<div class=""><span class="checked"><input type="checkbox" name="checkRow" class="styled"></span></div>-->
                    </td>
                    <td>
                        <!--<input type="text" class="form-control" placeholder="Filter">-->
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Filter">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060001</a>
                    </td>
                    <td>04/06/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN LONG BIEN</td>
                    <td>NGUYỄN MẠNH NAM</td>
                    <td>RN3BABN17GDV04783</td>
                    <td>NHDROW17060029</td>
                    <td>Admin</td>
                    <td>9000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>20/06/2017 18:24:44 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060002</a>
                    </td>
                    <td>01/06/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN LONG BIEN</td>
                    <td>ĐÀO HẢI NAM</td>
                    <td>MNTCC2D23Z0016574</td>
                    <td>NHDROW17060030</td>
                    <td>Admin</td>
                    <td>12000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>21/06/2017 15:14:20 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>3</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060003</a>
                    </td>
                    <td>03/07/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN LONG BIEN</td>
                    <td>NGUYỄN VĂN CẢNH</td>
                    <td>88C10588</td>
                    <td>NHDROW17060031</td>
                    <td>Admin</td>
                    <td>10000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>21/06/2017 15:14:42 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>4</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060004</a>
                    </td>
                    <td>19/07/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN LONG BIEN</td>
                    <td>TRẦN CÔNG HIỆU</td>
                    <td>30A19000</td>
                    <td>NHDROW17060032</td>
                    <td>Admin</td>
                    <td>19000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>21/06/2017 16:33:06 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>5</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060005</a>
                    </td>
                    <td>01/06/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN LONG BIEN</td>
                    <td>ĐỖ VĂN HIỆU</td>
                    <td>30A14641</td>
                    <td>NHDROW17060033</td>
                    <td>Admin</td>
                    <td>28000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>22/06/2017 14:26:36 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>6</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060006</a>
                    </td>
                    <td>20/06/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN LONG BIEN</td>
                    <td>LÊ NGỌC THẮNG</td>
                    <td>30A14544</td>
                    <td>NHDROW17060034</td>
                    <td>Admin</td>
                    <td>17000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>22/06/2017 14:28:08 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>7</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060007</a>
                    </td>
                    <td>09/07/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN THANH HOA</td>
                    <td>TRỊNH VĂN PHƯƠNG</td>
                    <td>MNTCC2D23Z0018894</td>
                    <td>NHDROW17060035</td>
                    <td>Admin</td>
                    <td>13000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>29/06/2017 09:45:41 AM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>8</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060008</a>
                    </td>
                    <td>18/07/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN THANG LONG</td>
                    <td>LÊ VĂN CÔNG</td>
                    <td>RN3BABN17DDV01284</td>
                    <td>NHDROW17060036</td>
                    <td>Admin</td>
                    <td>14000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>29/06/2017 09:33:35 AM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>9</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060009</a>
                    </td>
                    <td>18/06/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN THANH HOA</td>
                    <td>NGUYỄN HỮU VINH</td>
                    <td>RN3BABN17DDV033565</td>
                    <td>NHDROW17060037</td>
                    <td>Admin</td>
                    <td>26000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>29/06/2017 15:19:35 PM</td>
                </tr>
                <tr>
                    <td>
                        <div class="">
                            <span class="checked">
                                <input type="checkbox" name="checkRow" class="styled">
                            </span>
                        </div>
                    </td>
                    <td>10</td>
                    <td>
                        <a routerLink="/wcProcessing/Update/1">NHDWC17060010</a>
                    </td>
                    <td>16/06/2017</td>
                    <td>APPROVED</td>
                    <td>NISSAN THANH HOA</td>
                    <td>TRẦN VĂN CẢNH</td>
                    <td>RN3BABN17KHT6784</td>
                    <td>NHDROW17060038</td>
                    <td>Admin</td>
                    <td>39000</td>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>30/06/2017 17:20:50 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>